.body{
display: flex;
}

.game__row {
    margin: 0;
    padding: 0;

    height: 30px;

}

.game__cell--empty,
.game__cell--snake-head,
.game__cell--snake-body,
.game__cell--food {

    width: 30px;
    height: 30px;
    border: 1px solid #000;
    margin: 0;
    display: inline-block;
}


.game__cell--empty{
    background-color: rgba(35, 38, 180, 0.397);
}

.game__cell--snake-head{
   background-color: rgba(255, 0, 212, 0.664);
}

.game__cell--snake-body{
    background-color: #e84393;
}


.game__cell--food{
    background-color: rgba(35, 38, 180, 0.397);
    background-image: url('./octopus.png')
}

.alert {
    position: absolute;
    left: 200px;
    right: 200px;
    top: 200px;
    bottom: 200px;
    width: 50vw;
    height: 40vh;
    background: rgb(248, 178, 248);
    border: black 2px solid;
}

.alert > div {
    position: relative;
    top: 50px;
    left: 175px;
    right: 100px;
}

.alert div:last-of-type {
    top: 75px;
    color:rgb(36, 37, 117);
}

.alert > button, 
.alert > input {
    position: relative;
    top: 100px;
    left: 125px;
    width: 15vw;
    color:rgb(36, 37, 117);

}



.score{
    width: 100%;
}

.game, 
.ranking {
    width: 40%;
}

.alert__inactive {
    visibility: hidden;
}