.body{
display: flex;
}

.game__row {
    margin: 0;
    padding: 0;

    height: 30px;

}

.game__cell--empty,
.game__cell--snake-head,
.game__cell--snake-body,
.game__cell--food {

    width: 30px;
    height: 30px;
    border: 1px solid #000;
    margin: 0;
    display: inline-block;
}


.game__cell--empty{
    background-color: rgb(148, 232, 235);
    background-image: url('./wave.png')
}

.game__cell--snake-head{
    background-color:darkorchid
}

.game__cell--snake-body{
    background-color:deeppink;
}


.game__cell--food{
    background-color:rgb(148, 232, 235);
    background-image: url('./octopus.png')
}

.alert {
    position: absolute;
    left: 200px;
    right: 200px;
    top: 200px;
    bottom: 200px;
    width: 50vw;
    height: 50vh;
    background: red;
}
/* 
.alert-active{
    visibility: visible
} */

.score{
    width: 100%;
}

.game, 
.ranking {
    width: 40%;
}