
.game__row{
    margin: 0;
    padding: 0;

    height: 30px;;

}

.game__cell--empty,
.game__cell--snake-head,
.game__cell--snake-body,
.game__cell--food {

    width: 30px;
    height: 30px;
    border: 1px solid #000;
    margin: 0;
    display: inline-block;
}


.game__cell--empty{
    background-color: rgb(148, 232, 235);
    background-image: url('./wave.png')
}

.game__cell--snake-head{
    background-color:blue;
    background-image: url('./penguin.png')
}

.game__cell--snake-body{
    background-color:cornflowerblue;
}


.game__cell--food{
    background-color:rgb(148, 232, 235);
    background-image: url('./octopus.png')
}